.pagination-container{
    margin-right: 20px;
    display: inline-flex;
    align-items: baseline;

    .pagination-text{
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        margin-right: 10px;
    }

    .pagination-button{
        color: #333333 !important;
        border: 1px solid rgba(51, 51, 51, 0.2) !important;
        background: none;
        box-sizing: border-box;
    }

    .pagination-button:hover{
        color: #B22E6F !important;
        background: #E8E8E8 !important;
    }

    .icon-button{
        font-size: 15px;
    }
}