.dialog-card {
  width: 239px;
  height: 48px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  border-radius: 4px;
  position: relative;
  margin-bottom: 1em;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s linear;

  .dialog-content {
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }
}

.dialog-card:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent rgba(255, 255, 255, 0.4) transparent;
  top: -10px;
  left: 6%;
}
