.book-card{
    width: 272px;
    height: 160px;
    background: #FFFFFF;
    box-shadow: 0px 6px 24px rgba(84, 16, 95, 0.13);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
   
    .book-content{
        padding:15px;
        height: 100%;

        .book-image-container{
            display: flex;
            align-items: center;
        }

        .book-image{
            width: 81px;
            height: 122px;
            filter: drop-shadow(0px 6px 9px rgba(0, 0, 0, 0.15));
        }

        .book-title{
            font-size: 14px;
            line-height: 20px;
            color: black;
            font-weight: 500;
        }

        .book-author{
            font-size: 12px;
            line-height: 20px;
            color: #AB2680;
            font-weight: 400;
        }

        .book-description-col{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .subtitles-books{
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            color: #999999;
            height: 15px;
            word-break: break-word;
        }
    }
}

.book-content:hover{
    box-shadow: 0px 2px 12px #B22E6F;
    border-radius: 4px;
}
