.login-form{
    .submit-button{
        width: 85px;
        height: 36px;
        margin-right: 12px;
        margin-bottom: 8px;
        margin-left: 12px;
    }

    input::-ms-reveal,
      input::-ms-clear {
        display: none;
    }
}