.dialog-container{
    .el-dialog{
        width: 60%;
        height: 80%;
        background: #FFFFFF !important;
        box-shadow: 0px 16px 80px rgba(0, 0, 0, 0.32) !important;
        border-radius: 4px !important;
        max-height: 608px;
        max-width: 769px;
        padding: 0px 10px;
    }

    .book-col{
        height: 100%;
    }

    .description-col{
        height: 100%;
        color: black;
        font-weight: 500;
        margin-right: 10px;

        .modal-book-title
        {
            font-size: 28px;
            line-height: 40px;
        }

        .modal-authors{
            font-size: 12px;
            line-height: 20px;
            font-weight: normal;
            color: #AB2680;
        }

        .subtitle-description{
            font-size: 12px;
            line-height: 28px;
            margin-top: 20px;
            line-height: 20px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }   
            
        .value-description{
            color: #999999;
            justify-content: flex-end;
            display: flex;
        }

        .info-row{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 5px;
        }

        .book-description{
            color: #999999;
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            text-align: justify;
        }

        .quotes-image{
            width: 17.58px;
            height: 14.14px;
            opacity: 0.5;
            margin-right: 5px;
        }
    }

    .el-dialog__close:hover{
        color: #AB2680 !important;
    }

    .el-dialog__header{
        padding: 10px 10px 0;
    }

    .el-dialog__close:focus{
        color: #AB2680 !important;
    }

    .el-dialog__body{
        height: 100% !important;
    }

    .modal-content{
        display: flex;
        height: 80%;
        max-height: 460px;
        overflow-y: scroll;
        margin-bottom: 20px;

        /* Works on Chrome, Edge, and Safari */
        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }
        
        &::-webkit-scrollbar-track {
            background: none;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: #AB2680;
            border-radius: 20px;
            border: 3px solid none;
        }

        &::-webkit-scrollbar-thumb:vertical:hover {
            background-color: rgba(171,38,128,0.8);
        }

        /* Works on Firefox */
        scrollbar-width: thin;
        scrollbar-color: #AB2680 white;
    }

    .book-image-modal{
        width: 80%;
        height: inherit;
        filter: drop-shadow(0px 12px 18px rgba(0, 0, 0, 0.3));
    }
    
    @media screen and (max-width: 800px) {
        .modal-content {
            flex-direction: column;
          }

        .info-row{
            flex-direction: column;

            .value-description{
                justify-content: flex-start;
            }
        }
    }
}