.login-container{
    background: url(../../assets/login-background-image.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    min-height: 100vh;

    .login-content{
        width: 368px;
        position: absolute;
        left: 8.42%;
        right: 83.94%;
        top: 35.68%;
        bottom: 59.64%;
    }

    .logo-ioasys{
        width: 104.4px;
        height: 36px;   
    }

    .logo-title{
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 40px;
        color: white;
        margin-left: 16.6px;
    }

    .logo-row{
        margin-bottom: 50px;
    }
}