.text-field{
    background: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(2px);
    border-radius: 4px;
    width: 368px;
    height: 60px;
    margin-bottom: 16px;

    .label-text-field{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        padding-top: 8px;
        padding-left: 16px;
        color: white;
        opacity: 0.5;
    }

    .value-container{
        display: inline-flex;
        width: 100%;
        align-items: center;
        height: 24px;
        margin-left: 8px;

        .value-text-field{
            font-size: 16px;
            line-height: 24px;
            font-style: normal;
            font-weight: normal;
            color: white;
            padding-left: 16px;
            -moz-appearance: textfield;
            -webkit-appearance: textfield;
        }

        .value-text-field:focus{
            border-bottom: 1px solid rgba(255,255,255, .5);
        }
    
        input.value-text-field {
            background: none;
            border: none;
            width: 90%;
        }
    
        input:focus-visible {
            outline: none;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus{
            font-size: 16px;
             border: none;
            -webkit-text-fill-color: white;
            transition: background-color 5000s ease-in-out 0s;
        }

        input:-webkit-autofill::first-line {
            font-size: 16px;
        }
    }
}


