.home-container{
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    min-height: 100vh;
    background: url(../../assets/home-background.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    background-blend-mode: darken;
    flex-direction: column;

    .home-header{
        height: 36px;
        left: 8.42%;
        right: 83.94%;
        margin-top: 5.47%;
        margin-bottom: 3%;
        width: 80%;
        justify-content: space-between;
    }

    .logo-title-home
    {
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 40px;
        color: black;
        margin-left: 16.6px;
    }

    .logo-home-container{
        display: inline-flex;
        width: fit-content;
    }

    .welcome-sentence{
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: black;
        margin-right: 10px;
        .user-name{
            font-weight: 700;
        }
    }

    .logout-container{
        display: flex;
        align-items: center;
        width: fit-content;
        margin-right: 20px;
    }

    .logout-button{
        color: #333333 !important;
        border: 1px solid rgba(51, 51, 51, 0.2) !important;
        background: none;
        box-sizing: border-box;
    }

    .logout-button:hover{
        color: #B22E6F !important;
        background: #E8E8E8 !important;
    }
    
    .books-box
    {
        width: 80%;
        left: 8.42%;
        right: 83.94%;
        min-height: 65vh;
        flex-wrap: wrap;
        justify-content: space-between;      
    }

    .pagination-row{
        margin-bottom: 2%;
        width: 80%;
        left: 8.42%;
        right: 83.94%;
        display: flex;
        justify-content: flex-end;
    }
}