@import "../base/variables";

@import "~@mdi/font/scss/materialdesignicons";

body {
	margin: 0;
	font-family: "Heebo";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.el-button--primary.is-plain
{
	color: $-color-primary;
	border-radius: 44px;
	border-color: white;
}

.el-button--primary.is-plain:hover
{
	color: $-color-primary;
	border-color: #F7EAF0;
	background-color: #F7EAF0;
}

.el-button--primary.is-plain:focus
{
	color: $-color-primary;
	border-color: #F7EAF0;
	background-color: #F7EAF0;
}

.el-loading-text{
	color: $-color-primary !important;
}

.el-loading-spinner .path{
	stroke: $-color-primary !important;
}